<?xml version="1.0"?>

<model>
  <name>cabinet_door</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Dawid Seredynski</name>
    <email>dawid.seredynski@gmail.com</email>
  </author>

  <description>
    A wooden cabinet with door.
  </description>
</model>
