<?xml version="1.0"?>

<model>
  <name>Jar with marker 0</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Dawid Seredynski</name>
    <email>dawid.seredynski@gmail.com</email>
  </author>

  <description>
    A jar with ar marker 0.
  </description>
</model>
